@font-face {
  font-family: AllerBoldIt;
  src: url(../../fonts/Aller-Bold-Italic/Aller_Std_BdIt.ttf);
}

@font-face {
  font-family: AllerStdBold;
  src: url(../../fonts/Aller-Bold-Italic/Aller_Std_Bd.ttf);
}

@font-face {
  font-family: AllerStd;
  src: url(../../fonts/Aller-Bold-Italic/Aller_Std_Lt.ttf);
}

@font-face {
  font-family: AllerDisplay;
  src: url(../../fonts/Aller-Bold-Italic/AllerDisplay_Std_Rg.ttf);
}

* {
  font-family: AllerBoldIt;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;


}

html {
  -webkit-tap-highlight-color: transparent;
  font-size: 12px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



.container {
  background-image: url(../img/gramaFundo.webp);
  background-size: 100%;
  background-position: center;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
  /* overflow: scroll; */

  /* animation: fadein 3s; */
}

.opacity {
  opacity: 0.5;
}

header {
  position: relative;
  width: 90vw;
  height: 140px;
  margin-bottom: 90px;
  display: flex;
  justify-content: center;
}

.header {
  width: 65vw;
  height: 140px;
  background-color: #0056BA;
  border-radius: 0px 0px 80px 80px;
  box-shadow: 6px 6px 15px 10px rgba(0, 0, 0, 0.422);
  text-align: center;
  font-weight: 600;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;

  will-change: transform;

  animation-name: queda-header;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes queda-header {
  from {
    transform: translateY(-130%);
  }

  to {
    transform: translateY(0%);
  }
}

.firstText,
.secondText,
.thirdText {
  color: white;
  filter: drop-shadow(5px 5px 5px black);
}

.logoTextUltra {
  transform: scale(140%);
  filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.445));
}

.logoUltra.visibleLogo {
  width: 100px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 85%);
  z-index: 56;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.118));
  animation: width 1s ease-in-out 0s 3 normal forwards, fadein 2s forwards;
}

@keyframes width {
  0% {
    width: 100px;
  }

  50% {
    width: 105px;
  }

  100% {
    width: 100px;
  }
}

.invisibleLogo {
  position: absolute;
  opacity: 0;
}



.textBox {

  background: radial-gradient(#8cc2ff 0%, #004a9e 100%);
  width: 80vw;
  height: 200px;
  border-radius: 15px;
  padding-top: 15px;

  position: absolute;
  transform: translateY(120%) translateX(10%);
  z-index: 55;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
  justify-content: center;

  animation: fadein 2s;
}

.logoUltraText {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  width: 100px;
}

.invisible {
  transform: translateY(-160%);
  width: 100px;
}

#closeBtn {
  position: absolute;
  top: 5px;
  right: 10px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace;
}


.textBox textarea {
  width: 80%;
  height: 50%;
  padding: 5px;

  border: 2px solid rgba(0, 0, 0, 0.488);
  border-radius: 5px;
  font-family: AllerStdBold;
  /* display: block; */
}

textarea:hover {
  border: 2px solid rgb(49, 49, 49);
  outline: none;
  background-color: rgb(255, 255, 255);

}

#submitMsgWpp {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid transparent;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.497);
}

#submitMsgWpp:active {
  background-color: white;
  color: rgb(205, 0, 0);
  transform: scale(1.01);
}

.options {
  width: 100vw;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  position: relative;
  margin-bottom: 25px;
  animation: abertura-options 2s;

}

@keyframes abertura-options {
  from {
    transform: translateX(-180%);
  }

  to {
    transform: translateX(0%);
  }
}



.options a,
p {
  text-decoration: none;
  text-underline-position: 0;
  color: white;
  font-size: 22px;
  letter-spacing: 2px;
  border: none;


}

a:visited {
  text-decoration: none;
  background-color: none;
}

a:active {
  text-decoration: none;
  background-color: #006ae3;
}


.optionsTitle {
  z-index: 10;
  width: 347px;
  height: 66px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  border-radius: 0px 10px 5px 0px;
  background-color: #0056BA;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.651));

  animation: abertura-options 1.6s;
}

.optionsTitle p {
  font-size: 26px;
}


.optionItemImg {
  position: absolute;
  width: 50%;
  top: 85px;
  left: 5px
}

.optionItemImgNd {
  position: absolute;
  width: 50%;
  bottom: 155px;
  left: 5px;
}

.optionItemImgTd {
  position: absolute;
  width: 50%;
  bottom: 20px;
  left: 5px;
}

.blueNovember::after {
  content: "";
  margin-left: 20px;
  width: 35px;
  height: 55px;
  background: url(../img/laçoAzul.png);
  background-size: contain;
  /* background-color: #93a6bb; */
  position: absolute;
  right: 5%;
  transform: rotate(45deg) translateY(-30%) scale(180%);
  -webkit-tap-highlight-color: transparent;
}

.optionItem {
  z-index: 10;
  width: 280px;
  height: 66px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  border-radius: 5px 20px 10px 0px;
  background-color: #0056BA;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.651));

  animation: abertura-options 1.6s;
}

.carrousel {
  padding: 15px;
  width: 100vw;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  column-gap: 20px;
  /* background-color: #0056BA; */
}

.carrousel::-webkit-scrollbar {
  display: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 298px;
  height: 170px;
  border-radius: 10px;
  padding: 12px;
  box-shadow: 0px 1px 5px 5px rgba(0, 0, 0, 0.264);
}

.cardUltra {
  background: url(../img/backgroundUltra.svg);
  background-size: cover;
}

.cardVivente {
  background: url(../img/backgroundVivente.svg);
  background-size: cover;
  opacity: 0.5;
  /* tirar */
  display: flex;
  justify-content: center;
  /* tirar */
  align-items: center;
  /* tirar */
  font-size: 20px;
  /* tirar */
}

.cardContent {
  display: flex;
  height: 100vh;
  /* column-gap: 10px; */
}

.cardImg {
  /* border: 2px solid black; */
  display: flex;


}

.cardImg img {
  display: flex;
  align-items: center;
  min-height: 103px;
  width: 84px;
  filter: drop-shadow(2px 3px 10px rgba(0, 0, 0, 0.49));
}


.cardText {
  display: flex;
  flex-direction: column;
  /* border: 3px solid blue; */
}

.cardText img {
  padding-left: 7px;
  align-self: flex-start;
  transform: scale(120%);

}

.cardText .ultracapsLogoCard {
  filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.537));
}

.cardImg .ultracapsProduto {
  filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.848));
}

.cardText .viventeLogoCard {
  transform: scale(120%);
  filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.444));
}

.cardImg .viventeProd {
  transform: scale(120%);
}

.cardText p {
  padding-top: 5px;
  /* font-size: 11px; */
  font-weight: 600;
  font-family: AllerStd;
}

.cardText .cardTextUltra {
  padding-top: 20px;
  color: white;
  letter-spacing: 2px;
  font-size: 13px;
}

.cardText .cardTextVivente {
  color: #545454;
  letter-spacing: 1px;
  padding-top: 20px;
  font-size: 13px;
  /* background-color: rgba(128, 128, 128, 0.141); */

}

.button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-105%);
  width: 92px;
  height: 30px;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}


.button a {
  font-family: AllerStdBold;
  text-decoration: none;
}

.button a:visited {
  color: black;
  text-decoration: none;
}

#showBtn {
  color: black;
}

.btnUltra {
  background: linear-gradient(180deg, #FFF 0%, #80b3ff 99.47%);
}


.btnVivente {
  background: linear-gradient(180deg, #FFF 0%, #FFF7CF 99.47%);
}


/* footer.nav {
  background-color: #80b3ff;
  height: 50px;
  width: 100vw;
  position: fixed;
  bottom: 0;
} */