* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
  ;
}

body {
  background-color: hsl(216, 12%, 8%);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.boxContent {
  background: linear-gradient(to top, hsl(216, 12%, 10%), hsl(213, 19%, 18%));
  width: 420px;
  height: 400px;
  padding: 30px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;

}

.boxContent h1 {
  text-align: left;
  color: white;
}

.boxContent p {
  color: hsl(216, 12%, 54%);
  text-align: left;
}

.iconStar {
  background: url(../images/icon-star.svg) center no-repeat;
  background-color: hsl(213, 19%, 20%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.iconRating {
  background: hsl(213, 19%, 18%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
}

.iconRating:hover {
  background-color: hsl(216, 12%, 54%);
  color: white;
  cursor: pointer;
}

.iconRatingSelected {
  background-color: hsl(25, 97%, 53%);
}

.rating {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

}

.inputsRating {
  display: flex;
  justify-content: space-between;
}

.rating input {
  color: hsl(217, 15%, 62%);

}

.rating input:focus {
  color: white;
  font-weight: 700;
}

.rating .submitBtn {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 3px;
  color: white;
  background-color: hsl(25, 97%, 53%);
  /* width: 25px; */
  height: 40px;
  border-radius: 20px;
  border: none;
}

.rating .submitBtn:hover {
  background-color: white;
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}

.boxContentThanks {
  background: linear-gradient(to top, hsl(216, 12%, 10%), hsl(213, 19%, 18%));
  width: 420px;
  height: 400px;
  padding: 30px;
  border-radius: 25px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.boxContentThanks h2 {
  color: white;
  text-align: center;
}

.boxContentThanks p {
  color: hsl(216, 12%, 54%);
  text-align: center;
}

.thanksImg {
  background: url(../images/illustration-thank-you.svg);
  width: 163px;
  height: 105px;
}

.ratingResult {
  background: hsl(213, 19%, 20%);
  padding: 5px 20px;
  border-radius: 20px;
  color: hsl(25, 97%, 53%);
}

.attribution {
  padding-top: 10px;
  font-size: 11px;
  text-align: center;
  color: white;
}

.attribution a {
  color: hsl(31, 66%, 55%);
}